{% extends 'trips/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
</style>
</head>
<body>

<h1>Track My Trips</h1>


</body>
</html>

{% for trip in trips_list %}
    <div class=" center" id ="frame1" >
    <div class="" style="background-color: rgb(255, 255, 255);">
        <h5><center><b><span style="color:black;">Trip information: </b><center></h5>
        <p> <b><span style="color:rgb(155, 15, 15);">FROM:</b> {{trip.pick_up_place}}</p>
        <p> <b><span style="color:black;"> AT: </b>   {{trip.pick_up_time}}</p>
        <p> <b><span style="color:black;">GOING TO: </b>   {{trip.drop_off_place}}</p>
        <p> <b><span style="color:black;">Taxi Driver Information:</b> {{trip.driver.first_name}}, {{trip.driver.car_color}} {{trip.driver.car_model}}, {{trip.driver.car_license_plate}} </p>
        <a href="{% url 'trips:delete-trip' id=trip.id %}" class="btn btn-danger" id ="frame1">Delete</a>
    </div>
    </div>
    
{% endfor %}
{% endblock  %}